<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.designandroidapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignAndroidApplication">
        <activity android:name=".ButtonCustomActivity"></activity>
        <activity android:name=".LoginTemplate.LoginTemplateSignUpActivity" />
        <activity android:name=".EditTextCustomActivity" />
        <activity android:name=".NeumorphismActivity" />
        <activity android:name=".ShapeActivity" />
        <activity
            android:name=".DropSignInActivity"
            android:theme="@style/DropSignInTheme" />
        <activity android:name=".Blue.BlueSignUpActivity" />
        <activity android:name=".Blue.BlueForgetPasswordActivity" />
        <activity android:name=".Blue.BlueActivity" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/Theme.SignIn.CustomTheme" />
        <activity android:name=".LottieAnimationActivity" />
        <activity
            android:name=".SignInSignUpActivity"
            android:theme="@style/signInSignUpStyle" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".LoginUiActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>